<h1>{{ title }}</h1>
<p>{{ civi_user }}</p>
<form action="admin-post.php" method="post">
    <input type="hidden" name="action" value="civi_events_erase_ids">
    {{{ clear_nonce }}}
    <input type="submit" value="Clear IDs">
    <input type="hidden" name="action" value="civi_save_event">
    {{{ save_nonce }}}
    <input type="submit" value="Save Event">
</form>
<h4>Stored IDs:</h4>
<p>{{ stored_ids }}</p>