<h2>{{ title }}</h2>
<p><span style="font-weight: bold;">Summary:</span> {{summary}}</p>
{{{description}}}
<p><span style="font-weight: bold;">Start:</span> {{start_date}}</p>
<p><span style="font-weight: bold;">End:</span> {{end_date}}</p>
<p><span style="font-weight: bold;">Location:</span>
    {{street}},
    {{town}},
    {{postcode}}
</p>